@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #fefaff;
}

#header {
  margin-right: -40px;
  margin-top: -5px;
  background-size: 700px;
  background-image: url(images/background.png);
  background-position: right;
  background-repeat: no-repeat;
}

.container {
  margin-left: 100px;
  height: auto;
  overflow-x: visible;
}
.logo {
  margin-top: 180px;
  width: 250px;
}

#header hr {
  max-width: 550px;
}

.header-text {
  margin-top: 140px;
  margin-left: -30px;
}
.main h1 {
  font-size: 45px;
  color: black;
  position: relative;
}
.square {
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #9e45f8;
  margin: 15px 0;
}
.common-btn {
  padding: 5px 5px;
  background: transparent;
  outline: none;
  border: 2px solid #9e45f8;
  font-weight: bold;
  cursor: pointer;
}
p {
  font-size: 15px;
  line-height: 18px;
  color: #777;
}
.main h3 {
  font-weight: 300;
  line-height: 1.5;
  max-width: 550px;
  color: #777;
}
.header-text button {
  margin-top: 20px;
  margin-bottom: 16px;
}
.line-1 {
  width: 15px;
  height: 15px;
  background: #9e45f8;
  display: inline-block;
}
.line-2 {
  width: 80px;
  height: 1px;
  background: #9e45f8;
  display: inline-block;
}
.line-3 {
  width: 60px;
  height: 1px;
  background: #9e45f8;
  display: inline-block;
}
.line {
  line-height: 8px;
}
/* #sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #9e45f8;
  z-index: 2;
  transition: 0.5s;
}
nav ul li {
  list-style: none;
  margin: 50px 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
} */

#menuBtn {
  width: 50px;
  position: fixed;
  right: 65px;
  top: 35px;
  z-index: 2;
  cursor: pointer;
}
/*---about---*/
#about {
  padding: 100px 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-left-col {
  flex-basis: 50%;
}
.about-left-col img {
  width: 300px;
  box-sizing: border-box;
}
.about-right-col {
  flex-basis: 50%;
  text-align: right;
}
.about-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}
.about-text h2 {
  margin: 50px 0 10px;
  font-size: 28px;
  font-style: italic;
}
.about-text h3 {
  color: #777;
  font-size: 20px;
  font-style: italic;
}

/*--features---*/
#features {
  padding-top: 50px;
  padding-bottom: 50px;
}
.feature-row {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.feature-col {
  flex-basis: 25%;
  text-align: center;
}
.feature-col img {
  width: 100px;
}
.feature-col h4 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}
.feature-btn {
  margin: 80px auto 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.feature-btn .line {
  text-align: right;
  display: inline-block;
  margin-right: 25px;
}

/*---courses---*/
#courses {
  padding: 100px 0;
}
.course-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.course-right-col {
  flex-basis: 50%;
}
.course-right-col img {
  width: 100%;
}
.course-left-col {
  flex-basis: 50%;
}
.course-text {
  max-width: 350px;
}
.course-text button {
  margin: 30px 0;
}
/*offfeeerrrrr----*/
#offer {
  padding: 100px 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-left-col {
  flex-basis: 50%;
}
.about-left-col img {
  width: 100%;
}
.about-right-col {
  flex-basis: 50%;
  text-align: right;
}
.about-text {
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}
.about-text h2 {
  margin: 50px 0 10px;
  font-size: 28px;
  font-style: italic;
}
.about-text h3 {
  color: #777;
  font-size: 20px;
  font-style: italic;
}
#offer button {
  margin: 30px 0;
}

/*--contact---*/
.contact-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contact-left-col,
.contact-right-col {
  flex-basis: 50%;
}

.contact-right-col img {
  width: 100%;
}

form {
  max-width: 350px;
  margin: 30px 0;
}
form input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #9e45f8;
}
.btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-box button {
  flex-basis: 48%;
  padding: 18px 0;
}

/*-----foooter----*/
#footer {
  padding: 50px 0 30px;
}
ul li {
  display: inline;
}
.color {
  color: #777;
}
.color.hover {
  color: #777;
  text-decoration: none;
}

.common-btn:hover {
  background-color: #9e45f8;
  color: white;
}
hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #9e45f8;
}

.footer-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.link-title {
  padding-right: 30px;
}
.connect {
  padding-right: 0;
}
.connect ul {
  padding-left: 0;
}
.connect ul li {
  padding: 5px;
}
.link-title h4 {
  color: #9e45f8;
  margin-bottom: 20px;
}
.link-title small {
  font-size: 13px;
  color: #777;
  margin-bottom: 20px;
}
.footer-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-logo img {
  width: 100px;
}
.btnn {
  padding: 12px 30px;
  margin-top: 20px;
  font-size: 10px;
}
/* .copyright-text,
.footer-logo {
  flex-basis: 100%;
} */

.social .fab {
  font-size: 1.2em;
  color: #9e45f8;
}

.social .fancy {
  color: #36454f;
}

.social {
  overflow-x: hidden;
  overflow-y: hidden;
}

@media only screen and (max-width: 1200px) {
  #header {
    margin-top: -25px;
  }
  #header hr {
    max-width: 300px;
  }
  .main h1 {
    font-size: 40px;
    max-width: 300px;
  }
  .main h3 {
    font-size: 20px;
    max-width: 300px;
  }
}

@media only screen and (max-width: 770px) {
  #header {
    background-image: none;
    text-align: center;
  }
  #header h1,
  #header h3,
  #header hr {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .container {
    margin-right: 50px;
    margin-left: 50px;
  }
  .logo {
    margin-top: 27px;
    width: 70px;
  }

  .header-text {
    margin-top: 100px;
  }
  h1 {
    font-size: 25px;
  }
  #menuBtn {
    width: 45px;
    right: 50px;
  }
  .common-btn {
    padding: 3px 5px;
  }
  .about-left-col,
  .about-right-col {
    flex-basis: 100%;
  }
  .about-text {
    margin: 50px 50px 0;
    display: inline-block;
  }
  .about-text h2 {
    margin: 50px 0 10px;
    font-size: 18px;
  }
  .feature-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .course-left-col {
    flex-basis: 100%;
  }
  .course-right-col {
    flex-basis: 100%;
    margin-top: 70px;
  }
  .contact-left-col,
  .contact-right-col {
    flex-basis: 100%;
  }
  .contact-right-col {
    margin-top: 50px;
  }
  .footer-left-col {
    flex-basis: 100%;
  }
  .footer-right-col {
    flex-basis: 100%;
  }
  .link-title {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1080px) {
  #logo-brand {
    width: 100%;
  }

  .navbar-brand img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 400px) {
  #header h1 {
    font-size: 35px;
  }
  #header hr {
    max-width: 250px;
  }
  #header h3 {
    font-size: 18;
    max-width: 250px;
  }
}

/* benefits */

.benefit h4 {
  color: #9e45f8;
}
/* .benefit hr {
 
  border: 0;
  border-top: 1px solid #9e45f8;
} */
.benefit h5 {
  color: #9e45f8;
}

/* TESTIMONIAL */

.test h3 {
  color: #9e45f8;
}

/* .container {
    box-sizing: content-box;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
   } */
.indentity {
  margin: 0 !important;
}
figure.testimonial {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  padding: 0 20px;
  text-align: left;
  box-shadow: none !important;
}
figure.testimonial * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.testimonial img {
  max-width: 100%;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}
figure.testimonial blockquote {
  background-color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
  padding: 25px 50px 30px;
  position: relative;
  overflow-x: visible;
}
figure.testimonial blockquote:before,
figure.testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  color: #9e45f8;
  font-size: 50px;
  font-style: normal;
}
figure.testimonial blockquote:before {
  top: 25px;
  left: 20px;
}
figure.testimonial blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.testimonial .btn {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #fff;
  margin: 0;
  position: absolute;
}
figure.testimonial .peopl {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 120px;
  margin: 0;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.testimonial .peopl h3 {
  opacity: 0.9;
  margin: 0;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-btn.slick-hidden {
  display: none;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 40%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev:before,
.slick-next:before {
  font-family: "FontAwesome";
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -40px;
}
.slick-prev:before {
  content: "";
}
.slick-next {
  right: -40px;
}
.slick-next:before {
  content: "";
}

/* Desktop Navigation */

nav {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 1081px) {
  #logo-brand {
    width: 33%;
  }

  .navbar-brand img {
    width: 100%;
    height: auto;
  }
}

.navv a {
  color: #000000;
  position: relative;
  padding: 30px 30px 30px 0px; /*   padding: 11px 15px; */
  transition: 0.3s;
  font-size: 18px;
  font-weight: 300;
  font-family: sans-serif;
}

.navv li {
  margin: 0;
  padding: 100px;
}
.navbar {
  /*  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black; */
  box-shadow: 0 8px 6px -10px black;
}

/* college slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
