body {
  font-family: 'Lato', sans-serif
}

h1 {
  margin-bottom: 40px
}

label {
  color: #333
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px
}

.card {
  margin-left: 10px;
  margin-right: 10px
}

form input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #9e45f8;
}
form select {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #9e45f8;
}
form textarea {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #9e45f8;
}
/* Desktop Navigation */

nav {
  width: 85%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.navv a {
  color: #000000;
  position: relative;
  padding: 30px 30px 30px 0px; /*   padding: 11px 15px; */
  transition: 0.3s;
  font-size: 18px;
  font-weight: 300;
  font-family: sans-serif;
}

.navv li {
  margin: 0;
  padding: 100px;
}
.navbar {
  /*  -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black; */
  box-shadow: 0 8px 6px -10px black;
}